@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --text-background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%), #3E4581;
  --nav-active: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --background-btn: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%), linear-gradient(106.23deg, #4EF0F0 0%, #05C580 100%);

}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .app {
  background-color: #ECEEFF ;

} */

.app {
  overflow-x: hidden;
}

.text--gradient {
  background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%), #3E4581, transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

}

.nav-link:hover {
  border-bottom: solid 3px;
  transition: 1s ease-in;

}
.nav-link-home:active {
  color: var(--nav-active);

}
.btn {
  background: var(--background-btn);

}

/* gradient button and text */

.btn-white {
  background: var(--background-btn);
  position: relative;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  z-index: 1;
}

.btn-white::before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  background-color: white;
  border-radius: 4px;
  z-index: -1;
}

.btn-white::after {
  content:"Contact Us";
  background: var(--background-btn);
  background-clip: content-box;
  -webkit-background-clip: text;
  color: transparent;
}

.btn-white:hover::before {
  opacity: 50%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.btn-white:hover::after{
  color: white;
}

.nav-mobile {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 5;

  padding: 1rem;

  width: 80%;
  height: 100vh;

  display: flex;
  gap: 20px;
  /* justify-content: flex-end; */
  align-items: flex-start;
  flex-direction: column;
  background-color: #4EF0F0;
}
.nav-close {
  position: relative;
  left: 250px;
  width: 7%;
  height: 7%;
}

header {
  background-image: url('/assets/Lines.png');
  /* background-repeat: no-repeat; */
  background-size: cover;

}
.hero-heading {
  background: var(--text-background);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: green; */
}

.message-icon {
  background-image: url('/assets/messageIcon.png');
  background-size: cover;
  width: 160px;
  height: 160px;
}

.rectangle-bg {
  /* background-image: url('/assets/rectangle.png'); 
  background-size: cover; */
  /* height: 256px; */
  height: 80vh;
  width: 100vw;
  background-color: #e9e9f0;

  opacity: 20%;
  position: absolute;
  top: 350px;
  z-index: 0;
  /* transform: rotate(-10deg); */
  transform: skew(0, -10deg);
  filter: drop-shadow(100px 0 8mm rgb(63, 60, 60));



}

.circle-bg {
  overflow: hidden;
  height: 80vh;
  width: 50vw;
  /* left: 40%; */
  right: 0;
  position: absolute;
  background-color: whitesmoke ;
  top: 280px;
  z-index: -1;
  border-radius: 1000px;
  filter: drop-shadow(100px 0 8mm rgb(63, 60, 60));
}

.down-arrow {
  margin-top: 1900px;
}
.price-card {
  background-color: yellow;
  width: 362px;
  height: 508px;
  position: relative;
}